# APPLICATION INSIGHT
APPINSIGHTS_INSTRUMENTATIONKEY="MyAppInsightKey"
APPINSIGHTS_SAMPLING_PERCENTAGE=5

# SLACK
SERVICENAME="MyBot"
SLACK_BOT_TOKEN="MySlackBotToken"
SLACK_SIGNING_SECRET="MySlackSigningSecret"
SLACK_API_URL="https://slack.com/api"

# KEYS
OCP_APIM_SUBSCRIPTION_KEY="MyApimKey"
USERS_APIM_SUBSCRIPTION_KEY="MyApimKey"
CONTRACT_APIM_SUBSCRIPTION_KEY="MyApimKey"

# URLS
INSTITUTION_URL="<institution-url>"
USERS_URL="<users-url>"
CONTRACT_URL="<contract-url>"

# SMTP
SMTP_HOST="<smtp-host>"
SMTP_PORT="<smtp-port>"
SMTP_SECURE=<boolean>
SMTP_USERNAME="<smtp-username>"
SMTP_PASSWORD="<smtp-password>"
FROM_EMAIL="<smtp-from-email>"
CCN_EMAIL="<ccn-email>"

# MISC
ENABLED_EMAILS_SECRET="emai1@email.com;email2@email.com"
ENABLED_EMAILS_SECRET="emai1@email.com;email2@email.com"
MAX_DATA_LENGTH=10
