PORT=3030
# Tenant e app usata per le chiamate a Dataverse
AZURE_TENANT_ID= 
AZURE_CLIENT_ID= 
AZURE_CLIENT_SECRET=tuo-client-secret

# Scope Dataverse
DYNAMICS_BASE_URL= 
DYNAMICS_SCOPE= 
DYNAMICS_URL= 


NODE_ENV=development
