COMPOSE_PROJECT_NAME=io-sm-onboarding-fn
APPINSIGHTS_INSTRUMENTATIONKEY=<>

AzureWebJobsStorage=<STORAGE CONNECTION>

FUNCTIONS_WORKER_RUNTIME=node
FUNCTIONS_V2_COMPATIBILITY_MODE=false


CONTRACTS_CONSUMER_CONNECTION_STRING=<>
CONTRACTS_TOPIC_CONSUMER_GROUP=<>
CONTRACTS_TOPIC_NAME=<>
