name: Deploy SMCR
on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment where the artifact will be deployed.
        type: string
        required: true
        default: "app-prod"
      resource_group_name:
        description: "Web App resource group name"
        type: string
        required: true
        default: "plsm-p-itn-apps-rg-01"
      web_app_name:
        description: "Web App name"
        type: string
        required: true
        default: "plsm-p-itn-smcr-app-01"
      use_private_agent:
        description: Use a private agent to deploy the built artifact.
        type: boolean
        required: false
        default: true
      use_labels:
        description: Use labels to start the right environment's GitHub runner. If use_labels is true, also use_private_agent must be set to true
        type: boolean
        required: false
        default: false
      override_labels:
        description: Needed for special cases where the environment alone is not sufficient as a distinguishing label
        type: string
        required: false
        default: ""
permissions:
  contents: read
  id-token: write
  attestations: write
jobs:
  prepare:
    name: Build Next.js standalone paths
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build SMCR app
        run: yarn turbo run build --filter=smcr

      - name: Create standalone bundle
        run: |
          mkdir -p /tmp/artifacts
          cd apps/smcr
          cp -r .next/standalone /tmp/artifacts/
          cp -r public /tmp/artifacts/ || echo "no public dir"
          cp package.json /tmp/artifacts/
          cp -r .next/static /tmp/artifacts/.next/ || echo "no static dir found"
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: smcr.zip
          path: /tmp/artifacts
          if-no-files-found: error
          retention-days: 7

  deploy:
    needs: prepare
    if: github.event_name == 'workflow_dispatch'
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@main
    with:
      workspace_name: smcr
      environment: ${{ inputs.environment }}
      resource_group_name: ${{ inputs.resource_group_name }}
      web_app_name: ${{ inputs.web_app_name }}
      use_private_agent: ${{ inputs.use_private_agent }}
      use_labels: ${{ inputs.use_labels }}
      override_labels: ${{ inputs.override_labels }}
      disable_auto_staging_deploy: true
    secrets: inherit
